sudo: required
before_install:
    - sudo add-apt-repository -y ppa:fish-shell/release-2
    - sudo apt-get update
    - sudo apt-get -y install fish
script:
    - curl -Lo ~/.config/fish/functions/fin.fish --create-dirs git.io/fin
    - fish -c "fin fishtape .; fishtape test/*.fish"
